<%= simple_form_for @volunteer do |f| %>
  <%= f.error_notification %>
  <br></br>
  <br></br>
    <style>
    h1 {
      text-align:center;
    }
  </style>
  
  <div class = "container">
    <h1>Volunteer</h1>
    <h4><strong>*NOTICE: For best results please make sure you are using the Google Chrome Browser*</strong></h4>
      <%= f.input :name%>
      <%= f.input :email%>
      <%= f.input :phone%>
      <%= f.input :preference, collection: [['Nutrition', 'nutrition'],['Activities', 'activities'],['Prizes', 'prizes']], :include_blank => "", :label => "Preference(optional)" %>
      <%= f.input :tshirt_size, collection: [['XL', 'xl'],['Large','large'],['Medium','medium'],['Small','small']], :include_blank => "", :label => "t-shirt size" %>
      <%= f.input :question,:label => "How did you hear about us?" %>
      <%= f.input :description, :label => "Additional Information"%>
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-default"%>
       <br></br>
    </div>
    </div>
  </div>
<% end %>