<%= simple_form_for @volunteer do |f| %>
  <%= f.error_notification %>
    <style>
    h1 {
      text-align:center;
    }
  </style>
  <div class = "container">
      <%= f.input :name, :label => "Name | Nombre:"%>
      <%= f.input :email, :label => "Email:" %>
      <%= f.input :phone, :label => "Phone:" %>
      <%= f.input :preference, collection: [['Nutrition', 'nutrition'],['Activities', 'activities'],['Prizes', 'prizes']], :include_blank => "", :label => "Preference(Optional) | Preferencia(Opcional):" %>
      <%= f.input :tshirt_size, collection: [['XL', 'xl'],['Large','large'],['Medium','medium'],['Small','small']], :include_blank => "", :label => "T-shirt size | Talla de camiseta:" %>
      <%= f.input :question,:label => "How did you hear about us? | ¿Como supiste de nosotros?:" %>
      <%= f.input :description, :label => "Additional Information | Información Adicional:"%>
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-default"%>
       <br></br>
    </div>
    </div>
  </div>
<% end %>