<%= simple_form_for @volunteer do |f| %>
  <%= f.error_notification %>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  
  <div class = "container">
    <h1>Volunteer here</h1>
      <%= f.input :name%>
      <%= f.input :email%>
      <%= f.input :phone%>
      <%= f.input :question,:label => "How did you hear about us?" %>
      <%= f.input :description, :label => "Additional Information"%>
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-default"%>
    </div>
    </div>
  </div>
<% end %>