<br>
<br>
<br>

<style>
    h1 {
        text-align: center;
    }
</style>

<div class = "container" >
        <h1>Vendors</h1>
        <hr>
         <h5><strong>*NOTICE: For best results please make sure you are using Google Chrome*</strong></h5>
         <h5><strong>En español:*AVISO : Para obtener los mejores resultados por favor asegúrese de que está utilizando Google Chrome*</strong></h5>
        <hr>
        <hr>
            <%= image_tag('easton.jpg') %>
            <%= image_tag('dwest.jpg') %>
            <%= image_tag('denverparks.jpg') %>
            <%= image_tag('roosters.png') %>
            <%= image_tag('camp.png') %>
        <hr>
    </div>
    
     <div class = "container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    
    <div class = "container">
    <hr>
    <div class = "col-sm-2"></div>
<div class = "col-sm-4">
    <h4>
        <strong>Project Coordinator:</strong>
     </h4>
     <h4>
        Jessica Olivas 
    </h4>
     <h4>
        <!--email_off-->
        Email: joliva12@msudenver.edu
         <!--/email_off-->
    </h4>
     <h4>
        Cell: (720)5376354 
    </h4>
</div>
<div class = "col-sm-4">
    <h4>
        <strong>Recruiter Specialist:</strong> 
    </h4>
    <h4>
        Adam Lee
    </h4>
    <h4>
         <!--email_off-->
        Email: alee54@msudenver.edu
         <!--/email_off-->
    </h4>
     <h4>
        Cell: (720)4801169 
    </h4>
</div>
<div class = "col-sm-2"></div>
<hr>
</div>
<br>