 <br>
 <br>
 <br>

  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row" style = "text-align:center">
                <h1>Vendors</h1>
        </div>
        <hr>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <img class="img-responsive"><%= image_tag('camp.png') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Metropolitan State University of Denver C.A.M.P Program</h3>
                <p>CAMP is designed to meet the academic, financial, and social needs of migrant and seasonal farm workers and their children in pursing higher education.</p>
                <a class="btn btn-default" href="https://www.msudenver.edu/camp/camp/">View Website <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <img class="img-responsive"><%= image_tag('denverparks.jpg') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Denver Parks & Recreation</h3>
                <p>Description soon to come</p>
                <a class="btn btn-default" href="#">View Website <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-3">
                <a href="http://eastonbjj.com/">
                    <img class="img-responsive"><%= image_tag('Easton.jpg') %>
                </a>
            </div>
            <div class = "col-md-2"></div>
            <div class="col-md-7">
                <h3>Easton Training Center</h3>
                <p> Founded by Amal Easton, Easton Training Centers is dedicated to providing martial arts and fitness classes of the highest quality, and provide a safe welcoming enviroment for your child! Come to the event to learn more on what Easton has to offer!</p>
                <a class="btn btn-default" href="http://www.eastonbjj.com/">View Website <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-5">
                <a href="http://www.roosterstrainingcenter.com/">
                    <img class="img-responsive"><%= image_tag('roosters.png') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Roosters Training Center</h3>
                <p>Founded by Phillip Roybal Roosters Training Center sets your saftey as their number one priority, founded by a former MSU Denver collegue come to this event learn more on what Roosters Training Center has to offer!</p>
                <a class="btn btn-default" href="http://www.roosterstrainingcenter.com/">View Website <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <img class="img-responsive"><%= image_tag('Dwest.jpg') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Denver West Youth Sports</h3>
                <p>
                   Founded by Phil Lemos, Denver West Youth Sports keeps your children active and engaged! From youth wrestling,
                    to youth football, your children will stay active in a safe and friendly environment, come to the event to see what
                    Denver Youth Sports has to offer!
                </p>
                <a class="btn btn-default" href="#">View Website <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <% if false %>
            <%= image_tag('easton.jpg') %>
            <%= image_tag('dwest.jpg') %>
            <%= image_tag('denverparks.jpg') %>
            <%= image_tag('roosters.png') %>
            <%= image_tag('camp.png') %>
      <% end if %>
    
    <div class = "container">
    <hr>
    <div class = "col-sm-2"></div>
<div class = "col-sm-4">
    <h4>
        <strong>Project Coordinator:</strong>
     </h4>
     <h4>
        Jessica Olivas 
    </h4>
     <h4>
        <!--email_off-->
        Email: joliva12@msudenver.edu
         <!--/email_off-->
    </h4>
     <h4>
        Cell: (720)-537-6354 
    </h4>
</div>
<div class = "col-sm-4">
    <h4>
        <strong>Recruiter Specialist:</strong> 
    </h4>
    <h4>
        Adam Lee
    </h4>
    <h4>
         <!--email_off-->
        Email: alee54@msudenver.edu
         <!--/email_off-->
    </h4>
     <h4>
        Cell: (720)-480-1169 
    </h4>
</div>
<div class = "col-sm-2"></div>
<hr>
</div>
<br>