<br></br>
<br></br>
<br></br>
<br></br>

<style>
    h1 {
        text-align: center;
    }
</style>

<div class = "container" >
        </center><h1>Vendors</h1><center>
    </div>
    <div class = "container">
            <%= image_tag('easton.jpg') %>
            <%= image_tag('dwest.jpg') %>
            <%= image_tag('denverparks.jpg') %>
            <%= image_tag('roosters.png') %>
            <%= image_tag('camp.png') %>
    </div>