<%= simple_form_for @rsvp do |f| %>
  <%= f.error_notification %>
  <style>
    h1 {
      text-align:center;
    }
    a:hover {
        background-color:transparent;
    }
  </style>
  <div class = "container">
      <%= f.input :pfirst, :label => "Parent/Guardian | Padre/Guardián:"%>
      <%= f.input :phone, :label => "Phone | Teléfono:"%>
      <%= f.input :email, :label => "Email:"%>
      <%= f.input :foodallergies, :label => "Food allergies | Alergias a los alimentos:"%>
      <%= f.input :accomadations, :label => "accomadations:"%>
      <%= f.input :question, :label => "How did you hear about us? | ¿Como supiste de nosotros?:"%>
      <%= f.input :totalcount, :label => "How many children will you bring? | ¿Cuántos niños va a llevar?:"%>
      <%= f.input :required, label: "I will submit the waiver to my child's school or in person at the event | 
        Voy a presentar la renuncia a la escuela de mi hijo o en persona en el evento"%>
       <button class="btn btn-default btn-sm"><%= link_to "Event waiver form", asset_path("promisetoplaywaiver.pdf") %></button><br>
      <%= f.input :additionalinformation, :label => "Additional Information | Información Adicional:"%>
    </div>
    <div class = "container">
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-default"%>
    </div>
    </div>
  </div>
<% end %>

    <% if false %>
      <%= f.input :plast,  :label => "Last:"%>
      <%= f.input :cfirst, :label => "child first name"%>
      <%= f.input :clast,  :label => "child last name"%>
      <%= f.input :cage,   :label => "child age"%>
    <% end %>