<%= simple_form_for @rsvp do |f| %>
  <%= f.error_notification %>
  <br></br>
  <br></br>
  <style>
    h1 {
      text-align:center;
    }
    a:hover {
        background-color:transparent;
    }
  </style>
  
  <div class = "container">
    <h1>RSVP</h1>
    <h4><strong>*NOTICE: For best results please make sure you are using the Google Chrome Browser*</strong></h4>
    <strong>Please download the event waiver form here and submit it to your child(s) school or in person at the event:</strong>
    <button class="btn btn-default btn-sm"><%= link_to "Event waiver form", asset_path("promisetoplaywaiver.pdf") %></button><br>
      <%= f.input :pfirst, :label => "Parent/Guardian:"%>
      <%= f.input :phone, :label => "phone:"%>
      <%= f.input :email, :label => "email:"%>
      <%= f.input :foodallergies, :label => "food allergies:"%>
      <%= f.input :accomadations, :label => "accomadations:"%>
      <%= f.input :question, :label => "How did you hear about us?:"%>
      <%= f.input :totalcount, :label => "How many children will you bring?:"%>
      <%= f.input :required, label: "I will submit the waiver to my child's school or in person at the event"%>
       <button class="btn btn-default btn-sm"><%= link_to "Event waiver form", asset_path("promisetoplaywaiver.pdf") %></button><br>
      <%= f.input :additionalinformation, :label => "Additional Information:"%>
    </div>
    <div class = "container">
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-default"%>
    </div>
    </div>
  </div>
<% end %>

    <% if false %>
      <%= f.input :plast,  :label => "Last:"%>
      <%= f.input :cfirst, :label => "child first name"%>
      <%= f.input :clast,  :label => "child last name"%>
      <%= f.input :cage,   :label => "child age"%>
    <% end %>