<%= simple_form_for @rsvp do |f| %>
  <%= f.error_notification %>
  <br></br>
  <br></br>
  
  <div class = "container">
    <h1>RSVP HERE</h1>
      <%= f.input :pfirst, :label => "parent first name"%>
      <%= f.input :plast,  :label => "parent last name"%>
      <%= f.input :cfirst, :label => "child first name"%>
      <%= f.input :clast,  :label => "child last name"%>
      <%= f.input :cage,   :label => "child age"%>
      <%= f.input :phone%>
      <%= f.input :email%>
      <%= f.input :foodallergies%>
      <%= f.input :accomadations%>
      <%= f.input :question%>
      <%= f.input :totalcount, :label => "How many people will you bring?"%>
      <%= f.input :required, label: "I have signed the waiver"%>
      <%= f.input :additionalinformation, :label => "Additional Information"%>
    </div>
    <div class = "container">
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-default"%>
    </div>
    </div>
  </div>
<% end %>