<p id="notice"><%= notice %></p>

<p>
  <strong>Pfirst:</strong>
  <%= @rsvp.pfirst %>
</p>

<p>
  <strong>Plast:</strong>
  <%= @rsvp.plast %>
</p>

<p>
  <strong>Cfirst:</strong>
  <%= @rsvp.cfirst %>
</p>

<p>
  <strong>Clast:</strong>
  <%= @rsvp.clast %>
</p>

<p>
  <strong>Cage:</strong>
  <%= @rsvp.cage %>
</p>

<p>
  <strong>Foodallergies:</strong>
  <%= @rsvp.foodallergies %>
</p>

<p>
  <strong>Accomadations:</strong>
  <%= @rsvp.accomadations %>
</p>

<p>
  <strong>Question:</strong>
  <%= @rsvp.question %>
</p>

<p>
  <strong>Totalcount:</strong>
  <%= @rsvp.totalcount %>
</p>

<p>
  <strong>Required:</strong>
  <%= @rsvp.required %>
</p>

<p>
  <strong>Additionalinformation:</strong>
  <%= @rsvp.additionalinformation %>
</p>

<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
