<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Promise To Play</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
	
    <!-- Navigation -->
    <nav class="navbar-inverse navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="https://promisetoplay.com/">I Promise To Play Everyday</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% if not current_user %>
          <li><%= link_to 'Home', root_path%></li>
          <li><%= link_to 'About', page_path('about') %></li>
          <li><%= link_to 'Vendors', page_path('vendors') %></li>
          <li><%= link_to 'RSVP', new_rsvp_path %></li>
          <li><%= link_to 'Volunteer', new_volunteer_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!--if user is not logged in show this-->
            <!--<li= link_to 'Sign In', new_user_session_path <i class="fa fa-user-plus"></i></li>-->
            </ul>
          <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Volunteer Submissions', volunteers_path %></li>
            <li><%= link_to 'RSVP Submissions', rsvps_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></i></li>
          <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<body>

<%= yield %>


</body>
  <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>-->
                    <div class = "container">
                        <p class="copyright text-muted small">Developed & Designed by Adam T Lee <br>Cell: (720)4801169 <br> Email: adam.lee346@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</html>